<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar receitas</title>

          <!--CSS-->
          <link rel="Stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
          <link rel="Stylesheet" th:href="@{/fontawesome-5.14.0/css/all.min.css}">
          <link rel="Stylesheet" th:href="@{/css/estilo.css}">
        
   
</head>
<body>
    
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
                <i class="fas fa-bars "></i>

        </label>
        <img src="../SRC/RicePNG3.png" alt="rice and beans"  class="logo">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../receita/receitas.html">Cadastrar receita</a></li>
                <li><a href="#">Categorias</a></li>
            </ul>
    </nav>
    <section>
        <h1>CADASTRO DE RECEITAS</h1>
    </section>

    <!--FOOTER-->
    <div class="footer">
        <div class="elementoFooter">
            © Created by Innovation TECH
            <a href="https://github.com/juh2477/ADA_pol-tica-de-privacidade.git">Termo de Privacidade</a>
        </div>
    </div>


     <!--SCRIPTS-->
     <script src="../../static/bootstrap-4.5.2/js/bootstrap.min.js"></script>
     <script src="../../static/js/jquery-3.5.1.min.js"></script>

</body>
</html>