/*FONTE*/
@font-face{
    font-family: Arkhip;
    src: url(../Arkhip/TTF/Arkhip-Regular.ttf);
}

/*CORPO HTML - CADASTRO E LOGIN*/
.body-cadastroELogin{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, #580b0b, #770d0d);
    font-family: Arkhip;
}

/******************NAVBAR*******************/
*{
    padding: 0;
    margin: 0;
    font-family: Arkhip;
 } 
nav{
    background-image: linear-gradient(to right, #ffdbc5, #ffd7be);
    height: 65px;
    width: 100%;
}
/*BRAND DA MARCA*/
.img-nav{
    padding: 0;
    margin-left: 150px;
    height: 50px;
    width: 100px;
}
/*BOTÕES DE NAV*/
nav-link{
    color: #900d0d;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
}
nav-link.active, nav-link:hover{
    color: #cf1b1b;
    transition: .4s;
    text-decoration: none;
    outline: none;
}

/************************INDEX*************************/
 /*CAROUSEL*/
.carousel{
    margin: 0%;
}

/*TÍTULO - CATEGORIA*/
.tituloIndex{
    font-size: 50px;
    color: #900d0d;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

/*PARÁGRAFO DE INTRODUÇÃO ÀS CATEGORIAS*/
.p-categorias{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

/*LINHA - SEPARADOR HORIZONTAL*/
.hr {
    margin: 40px 0;
}
.hr3 {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, transparent, rgb(177, 177, 177), transparent);  
    margin-bottom: 50px;
}

/**********CARDS DAS CATEGORIAS**********/
.linha{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card{
    display: flex;
    overflow: hidden;
    width: 280px;
    height: 280px;
}

/*IMAGEM DO PRODUTO - CARDS*/
.img{
    position: static;
    box-shadow: inset;
    transition: transform .2s;
    height: 200px;
}

/***CORPO DOS CARDS - TÍTULOS E BOTÕES***/
.card-body{
    position: relative;
}

.card-body>h5{
    font-size: 18px;
}

/*TÍTULO DOS PRODUTOS cards*/
.tituloCategoria{
    position: static;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-top: 15px;
    color: #423144;
    text-decoration: none;
    outline: none;
}

/*BOTÕES CARDS*/
#verReceitas{
    position: absolute;
    margin-left: auto;
    margin-right: auto; 
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #900d0d;
    background-color: #fff;
    width: 150px;
    font-size: 15px;
    border: 2px solid #900d0d;
}
#verReceitas:hover{
    background-color: #900d0d;
    color: #fff;
    border: 2px solid #900d0d;
}
 
 /******************CADASTRO & LOGIN******************/
/*QUADRADO PRINCIPAL*/
.div-principal{
    width: 800px;
    height: 400px;
    position: relative;
    margin-left: 20%;
    margin-top: 8%;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 500px 2px rgba(73, 43, 43, 0.2), 0 0 100px 10px rgba(0, 0, 0, 0.19);
}

/*BRAND DA EMPRESA*/
.imagem-logo{
    position: absolute;
    padding-right: 0px;
    display: block;
}
#img-logo{
    width: 400px;
    height: 400px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

/*FORMULÁRIO DE CADASTRO*/
.form-container{
    position: absolute;
    padding-left: 0px;
    margin-left: 480px;
    margin-top: 20px;
}
/*INPUTS*/
.inputs{
    margin-top: 25px;
    padding: 10px;
    width: 250px;
    font-size: small;
    text-align: left;
    border: none;
    outline: 0;
    border-bottom: 1.5px solid #423144;
    background: none;
    font-size: 12px;
    color: #423144;
}
.input-login{
    margin-top: 100px;
}

/*BOTÃO DE CADASTRO*/
.btns{
    margin-top: 40px;
    margin-left: 65px;
    border: 1.5px solid #423144;
    background: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
    color: #423144;
}
.btns:hover{
    color: aliceblue;
    background-color: #423144;
}
.btn-login{
    margin-left: 80px;
    font-size: 12px;
}

/*BOTÃO DE RECUPERAR SENHA*/
.btn-recuperar{
    margin-top: 60px;
    margin-left: 57px;
    border: none;
    background: none;
    font-size: 12px;
    color: #423144;
}
.btn-recuperar:hover{
    color: #796f7a;
}
/*ALERTA*/
.msg{
    position: fixed;
    display: none;
    margin-top: 5px;
}

/***************************RECEITAS*****************************/
.container{
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 50px;
    border-radius: 25px;
    border: 2px solid #423144;
    justify-items: center;
    align-items: center;
    display: flex;
}

.container h3{
    margin-left: 30px;
    font-size: 25px;
}

.container form{
    margin-top: 80px;
    margin-bottom: 80px;
}


/***********************FOOTER*********************/
.footer {
    width: 100%;
    height: 10%;
    margin: 0;
    left: 0;
    bottom: 0;
    position: static;
    background-color: #eeeeee;
}

/*ELEMENTO FOOTER*/
.elemento-footer-div{
    position: static;
    background-color: #5e0000;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementoFooter{
    font-size: 12px;
    color: #c7c7c7;
    margin: 0;
}

/*DIV DA PARTE SUPERIOR DO FOOTER*/
.footer-top{
    background-color: #900d0d;
    color: #fff;
    height: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cliqueAquiFooter{
    text-decoration: none;
    overflow: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.cliqueAquiFooter:hover{
    text-decoration: none;
    color: #ffdbc5;
}
/*LOGOS DE REDES SOCIAIS*/
.div-logosRedesSociais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.div-logosRedesSociais a{
    color: #796f7a;
    font-size: 30px;
    margin: 10px;
}
.div-logosRedesSociais a:hover{
    color: #770d0d;
}
/*PARÁGRAFO FOOTER*/
.paragrafo-footer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 40px;
    height: 150px;
    width: auto;
}
/*FOOTER DAS TELAS DE CADASTRO E LOGIN*/
/*REAJUSTADO PARA FICAR NA PARTE INFERIOR DA PÁGINA*/
.footerCadastro{
    position: fixed;
    width: 100%;
    height: 25px;
    align-items: center;
    text-align: center;
    margin: 0;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: rgb(107, 107, 107);
}

/*******************INFORMAÇÕES*************************/
.table{
    margin-top: 10px;
    background-color: rgb(248, 242, 242);
    margin-right: 30px;
}
.cor-tabela{
    background-color:  #f8c2b7;
    color: #fff
}
.lista-info{
    margin-top: 35px;
    margin-left: 50px; 
}
.img-info{
    margin-left: 50px;
}
.img-infor{
    width: 250px;
    height: 250px;
}
.mb-3{  
    align-items: center;
    text-align: center;
}
.my-4{
    margin-top: 10px;
    margin-left: 50px;
}


/*
.container-principal{
    height: 600px;
}

.contato{
    background-color: #484b4e;
    height: 90px;
}

.titulo-contato{
    color:#b6851b;
    width: 100%;
    font-weight: bold;
}

.data-contato{
    color:white;
    width: 100%;
}

footer{
    text-align: center;
    padding:20px;
    background-color:#f0f4f5;
    width: 100%;
}

.container-funcionarios{
    margin-top:20px;
    margin-bottom:20px;
    width: 90%;
    min-width: 300px;
    min-height: 500px;
    border: 1px solid #343a40;
    border-radius: 10px;
}

.container-projetos{
    margin-top:20px;
    margin-bottom:20px;
    
    min-height: 500px;
    border: 1px solid #343a40;
    border-radius: 10px;
}


.td-btn{
    width: 10px;
}

.td-codigo{
    width: 50px;
}

.frm-titulo{
    color: white;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

.btn-novo{
    margin: 8px;
    text-align: right;
}

.container-funcionario{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #343a40;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
}

.container-login{
    margin-top: 165px;
    margin-bottom: 290px;
    border: 1px solid #343a40;
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
}

.container-projeto{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #343a40;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
}

.btn-controle{
    width: 100%;
}

input{
    text-align: center;
}
select{
    text-align-last: center;
}

.cl-fa{
    color:#097212;
}

.cl-fa:hover{
    color: #b4eeb8;
}

.cl-fa-delete{
    color: #b31f1f;
}

.cl-fa-delete:hover{
    color: #e7aaaa;
}

.div-tabela{
	overflow-x: scroll;
}   

.modal-header{
	background-color: #b31f1f;
	color: white;
}

.close{
	color:white;
}

.cl-dark{
	color:white
}

.list-group-item{
	text-align: center;
}

.input-login{
	margin-bottom: 10px;
}

.label-login{
	margin-lert: 15px;
	margin-top: 15px;
}
*/



